<div class="row">
  <div class="col-xs-12">
    <button [disabled]="!isLoggedIn || !isAuthorOfPost" class="btn btn-primary" style="cursor: pointer;" (click)="onEditPost()">Edit Post</button>
    <button [disabled]="!isLoggedIn || !isAuthorOfPost" class="btn btn-danger" style="cursor: pointer;" (click)="onDeletePost()">Delete Post</button>
  </div>
</div>
<hr>
<div *ngIf="isLoading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="post.postImagePath"
        alt="{{ post.postTitle }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ post.postTitle }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ post.postContent }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div *ngIf="false">
        <button [disabled]="!isLoggedIn" class="btn btn-secondary" (click)="onAddComment()">Comment Post</button>
        <!-- TU treba da dodju svi komentari prikazani a gore treba da se ispita da li ulogavan korisnik i ako jeste da li je to njegov post da moze da komentarise.. -->
      </div>
    </div>
  </div>
</div>

