<div class="row">
  <div class="col-xs-12">
    <button [disabled]="!isLoggedIn || !isAuthorOfPost" class="btn btn-primary" style="cursor: pointer;" (click)="onEditPost()">Edit Post</button>
    <button [disabled]="!isLoggedIn || !isAuthorOfPost" class="btn btn-danger" style="cursor: pointer;" (click)="onDeletePost()">Delete Post</button>
  </div>
</div>
<hr>
<div *ngIf="isLoading">
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="post.postImagePath"
        alt="{{ post.postTitle }}"
        class="img-responsive"
        style="max-height: 300px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ post.postTitle }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ post.postContent }}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="title">Comments</h2>
      <ng-container *ngIf="isLoadingComments">
        <app-comment-list
        *ngIf="comments.length > 0; else noCommentsYet">
        </app-comment-list>
        <p>{{ comments.length }}</p>
      <ng-template #noCommentsYet><h3>No comments yet!</h3></ng-template>
      </ng-container>
      <app-comment-create
        [postId] = "post.id">
      </app-comment-create>
    </div>
  </div>
</div>
<br>
